* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/flame\ background\ 2.webp);
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: black;

}

.header {
	padding-top: 50px;
	color: yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 20px;
	text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer {
  position: relative;
   left: 0;
   bottom: 0;
   height: 50px;
   width: 100%;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: yellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topnav {
  margin: auto;
  width: 50%;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topnav a:hover {
  color: white;
}

.topnav a.active {
  color: yellow;
} 

img {
  float: left;
  width: 200px;
}

body {
  background-color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

.about {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

.Service {
  font-size: medium;
}

table {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: orange;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.submit {
  border: 0px;
  border-radius: 4px;
  background-color:red;
width: 100%;
color: white}

input, textarea{
  border: 1px solid #ccc;
   width: 100%;
border-radius: 2px;
font-size: smaller;
}
h1 {font-size: medium;
margin-left:5%; margin-right: 5%;
}
p {
  
  margin-left: 5%; margin-right: 5%; font-size: small;
}
.contact {
margin-left: 5%;
margin-right: 5%;
  width: 90%;
  border-radius: 5px;
  background-color: rgb(245, 231, 149);
  padding: 20px;
  font-size: small;
}
input {
  padding: 2px;
}
.submit, input, .contact, p, h1, input, textarea {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hours{
width: 50%; height: 50%;
}